.siberbard {
    display: block;
    bottom: 0%;
    margin: 0%;
    background-color: #1b2c40 !important;
    width: 16.66%;
    height: 100vh;
}
.siberbard .active { color: #67db82 !important; }
.siberbard .list-group-item-action {
    background-color: transparent;
    color: #ffffff;
    border: none;
}
.list-group .list-group-item-action:hover {
   background-color:  #67db8210;
   
}